# Dependencies
node_modules/

# Build output
dist/

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Lavalink
lavalink/Lavalink.jar
lavalink/plugins/
lavalink/logs/